# IDE 
.vscode
.idea
.cursorignore

# Environment
.env
.env.local
.env.production

# data
documents/
faiss_data/
config/
conversations/
logs/
models/
ollama/
mariadb_data/
mariadb_data/*
mariadb_data_bak/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env.bak/
venv.bak/

# Docker
.dockerignore

# documents
.DS_Store
Thumbs.db

# log
*.log

